<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Danh sách User</title>
    <th:block th:replace="base :: bootstrap"></th:block>
</head>
<body>
    <div th:replace="base :: header"></div>

    <main class="container">
        <h1 class="text-center mt-2 mb-2">Danh sách User</h1>
        <form th:action="@{/users}" method="get">
            <div class="row">
                <div class="col-6">
                    <div class="mb-3 mt-3">
                        <input type="text" class="form-control" name="username" placeholder="Tìm theo tên người dùng" />
                    </div>
                </div>
            </div>
            <div class="mb-2 mt-1">
                <button class="btn btn-info" type="submit">Tìm kiếm</button>
            </div>
        </form>
        <a th:href="@{/user-add-view}" class="btn btn-success mt-2 mb-2">Thêm User mới</a>

        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="table-light text-center">
                    <tr>
                        <th>ID</th>
                        <th>Avatar</th>
                        <th>Full name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Phone</th>
                        <th>Birthday</th>
                        <th>HÀNH ĐỘNG</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr th:each="u : ${users}">
                        <td th:text="${u.id}"></td>
                        <td>
                            <img th:src="${u.avatar}" alt="avatar" width="50" class="rounded-circle" />
                        </td>
                        <td th:text="${u.fullName}"></td>
                        <td th:text="${u.username}"></td>
                        <td th:text="${u.email}"></td>
                        <td th:text="${u.role}"></td>                        
                        <td th:text="${u.phone}"></td>
                        <td th:text="${#dates.format(u.dateOfBirth, 'dd-MM-yyyy')}"></td>
                        <td>
                            <button class="btn btn-danger" th:onclick="'deleteUser(\''+@{/api/users/}+'\','+${u.id}+')'">&times;</button>
                            <a th:href="@{'/users/' + ${u.id}}" class="btn btn-success">&#128296;️</a>                       
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <div th:replace="base :: footer"></div>
    <script th:src="@{/js/main.js}"></script>
</body>
</html>


