<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Workout Plan</title>
    <th:block th:replace="base :: bootstrap"></th:block>
</head>
<body>
    <div th:replace="base :: header"></div>

    <main class="container">
        <h1 class="text-center mt-2 mb-2">Danh sách kế hoạch tập luyện</h1>
        <form th:action="@{/workout-plans}" method="get">
            <div class="row">
                <div class="col-6">
                    <div class="mb-3 mt-3">
                        <input type="text" class="form-control" name="kw" placeholder="Tìm theo tên kế hoạch" />
                    </div>
                </div>
            </div>
            <div class="mb-2 mt-1">
                <button class="btn btn-info" type="submit">Tìm kiếm</button>
            </div>
        </form>
        <a th:href="@{/workout-plans-view}" class="btn btn-success mt-2 mb-2">Thêm kế hoạch mới</a>

        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="table-light text-center">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Created At</th>
                        <th>HÀNH ĐỘNG</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr th:each="wp : ${workoutPlans}">
                        <td th:text="${wp.id}"></td>
                        <td th:text="${wp.name}"></td>
                        <td th:text="${wp.userId.username}"></td> <!-- hoặc user.username -->
                        <td th:text="${#dates.format(wp.startDate, 'dd-MM-yyyy')}"></td>
                        <td th:text="${#dates.format(wp.endDate, 'dd-MM-yyyy')}"></td>
                        <td th:text="${#dates.format(wp.createdAt, 'dd-MM-yyyy HH:mm')}"></td>
                        <td>
                            <button class="btn btn-danger">
                                &times;
                            </button>
                            <a class="btn btn-success">&#128296;️</a>
<!--                            <button class="btn btn-danger" th:onclick="'deleteWorkoutPlan(' + ${wp.id} + ')'">
                                &times;
                            </button>
                            <a th:href="@{'/workout-plans/' + ${wp.id}}" class="btn btn-success">&#128296;️</a>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <div th:replace="base :: footer"></div>
    <script th:src="@{/js/main.js}"></script>
</body>
</html>



